p{
    color:black;
    text-align:justify;
    font-size:24px
}

H1{
    color:black;
    text-align:center;
    font-size:40px;
    font-style:italic;
}

body{
    background-color:white;
}